img {
  display: block;
  max-width: 100%;
  height: auto;
}

#sektion1 {
  display: flex;
  justify-content: center;
}

#sektion1 {
  width: 100%;
  height: 5rem;
}

#sektion2 {
  padding-left: 2rem;
}

#sektion3 {
  display: block;
  gap: 1rem;
  padding: 2rem;
}

main {
  border-style: solid;
}

#artikel1 {
  border-style: solid;
}
#artikel2 {
  border-style: solid;
}

#shadow {
  box-shadow: 10px 10px 5px 0px rgba(233, 5, 5, 0.75);
}

@media only screen and (min-width: 600px) {
  #sektion3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 20px;

    /* display: flex;
    gap: 2rem;
    padding: 4rem; */
  }
}
footer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
